<?xml version="1.0" encoding="UTF-8"?>

<!-- Don't forget to set system property -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector 
	to make all loggers asynchronous. -->
<Configuration status="ERROR">
	<Appenders>
		<!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
		<RollingRandomAccessFile name="RollingFile"
			fileName="logs/spring-dynamic-datasource.log" filePattern="logs/$${date:yyyy-MM}/spring-dynamic-datasource-%d{MM-dd-yyyy}-%i.log.gz"
			immediateFlush="true" append="true">
			<PatternLayout>
				<Pattern>[%d] [%-5p] -- [%c %m %ex -- [%t] ${hostName}]%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="debugRollingFile"
			fileName="logs/spring-dynamic-datasource-debug.log" filePattern="logs/$${date:yyyy-MM}/spring-dynamic-datasource-debug-%d{MM-dd-yyyy}-%i.log.gz"
			immediateFlush="true" append="true">
			<PatternLayout>
				<Pattern>[%d] [%-5p] -- [%c %m %ex -- [%t] ${hostName}]%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>

		<!-- ${hostName}[%d [%t] %-5level %logger{36} - %msg]%n -->
		<Console name="Console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%-5p] -- [%c %m %ex -- [%t] ${hostName}]%n" />
		</Console>
	</Appenders>

	<Loggers>
		<!-- mybatis loggers -->
		<Logger name="com.yl.mapper" level="debug" />
		  
		<Root level="info" includeLocation="true" additivity="true">
			<AppenderRef ref="Console" />
			<AppenderRef ref="debugRollingFile" />
			<AppenderRef ref="RollingFile" level="warn" />
		</Root>
	</Loggers>

</Configuration>